
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
}
html,
body {
  
  /* background-color: #D7D7D7; */
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}


.typed-cursor {
  display: inline;
  font-size: 24px;
}

@media (min-width: 768px) {
  .typed-cursor {
    display: inline;
    font-size: 50px;
  }  
}


.hover-underline-dark-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-dark-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-dark-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262626;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}