
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, * {
cursor: none;
box-sizing: border-box;
}

html,
body {
  color: #000;
  background: #d7d7d7;
}

.dark,
.dark body {
  color: #fff;
  background: #121212;
}

html {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
html,
body {
  
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}


.typed-cursor {
  display: inline;
  font-size: 24px;
  /* margin-bottom: 100px; */
}

@media (min-width: 768px) {
  .typed-cursor {
    display: inline;
    font-size: 50px;
  }  
}


.hover-underline-dark-animation {
  /* display: inline-block; */
  position: relative;
}

.hover-underline-dark-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-dark-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hover-underline-animation {
  /* display: inline-block; */
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262626;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.app-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #121212;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.app-cursor-dark {
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #D7D7D7;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #d7d7d7;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.ring-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #D7D7D7;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.dot-dark {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #121212;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

